<header class="header">
    <div class="container header-container">
        <a href="index.html" class="logo">GROUP2</a>
        
        <button class="menu-toggle" aria-label="Abrir menú">
            <span></span>
            <span></span>
            <span></span>
        </button>
        
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item-has-children">
                    <a href="Menu.html" class="nav-link">Menú</a>
                    <ul class="submenu">
                        <li><a href="Menu.html#entradas">Entradas</a></li>
                        <li><a href="Menu.html#plato-principal">Platos principales</a></li>
                        <li><a href="Menu.html#postre">Postres</a></li>
                        <li><a href="Menu.html#bebida">Bebidas</a></li>
                    </ul>
                </li>
                <li><a href="Locales.html" class="nav-link">Locales</a></li>
                <li><a href="contacto.html" class="nav-link">Contacto</a></li>
                <li><a href="Novedades.html" class="nav-link">Novedades</a></li>
            </ul>
        </nav>
    </div>
</header>